@model IEnumerable<AduClub.Models.Club>

@{
    ViewBag.Title = "UserClubs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Clubs</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src=@Url.Content(item.ImagePath) alt="...">
            <div class="caption">
                <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                <p>@Html.DisplayFor(modelItem => item.Description)</p>
                <p><a href="#" class="btn btn-primary" role="button">Join</a> </p>
            </div>
        </div>
    </div>    
    }

    
</div>

